@font-face {
  font-family: 'element-icons';
  src:  url('../fonts/element-icons.eot?vg1db6');
  src:  url('../fonts/element-icons.eot?vg1db6#iefix') format('embedded-opentype'),
    url('../fonts/element-icons.ttf?vg1db6') format('truetype'),
    url('../fonts/element-icons.woff?vg1db6') format('woff'),
    url('../fonts/element-icons.svg?vg1db6#element-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="el-icon-"], [class*=" el-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'element-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-home:before {
  content: "\e900";
}
.el-icon-office:before {
  content: "\e903";
}
.el-icon-pencil:before {
  content: "\e905";
}
.el-icon-image:before {
  content: "\e90d";
}
.el-icon-music:before {
  content: "\e911";
}
.el-icon-books:before {
  content: "\e920";
}
.el-icon-file-text2:before {
  content: "\e926";
}
.el-icon-folder-open:before {
  content: "\e930";
}
.el-icon-envelop:before {
  content: "\e945";
}
.el-icon-location2:before {
  content: "\e948";
}
.el-icon-alarm:before {
  content: "\e950";
}
.el-icon-calendar:before {
  content: "\e953";
}
.el-icon-printer:before {
  content: "\e954";
}
.el-icon-display:before {
  content: "\e956";
}
.el-icon-mobile:before {
  content: "\e958";
}
.el-icon-drawer:before {
  content: "\e95c";
}
.el-icon-box-add:before {
  content: "\e95e";
}
.el-icon-box-remove:before {
  content: "\e95f";
}
.el-icon-undo2:before {
  content: "\e967";
}
.el-icon-redo2:before {
  content: "\e968";
}
.el-icon-bubbles2:before {
  content: "\e96d";
}
.el-icon-user:before {
  content: "\e971";
}
.el-icon-users:before {
  content: "\e972";
}
.el-icon-user-plus:before {
  content: "\e973";
}
.el-icon-user-minus:before {
  content: "\e974";
}
.el-icon-user-check:before {
  content: "\e975";
}
.el-icon-spinner:before {
  content: "\e97a";
}
.el-icon-search:before {
  content: "\e986";
}
.el-icon-lock:before {
  content: "\e98f";
}
.el-icon-unlocked:before {
  content: "\e990";
}
.el-icon-equalizer:before {
  content: "\e992";
}
.el-icon-cog:before {
  content: "\e994";
}
.el-icon-cogs:before {
  content: "\e995";
}
.el-icon-bin:before {
  content: "\e9ac";
}
.el-icon-bin2:before {
  content: "\e9ad";
}
.el-icon-list2:before {
  content: "\e9bb";
}
.el-icon-eye:before {
  content: "\e9ce";
}
.el-icon-bookmarks:before {
  content: "\e9d3";
}
.el-icon-man:before {
  content: "\e9dc";
}
.el-icon-woman:before {
  content: "\e9dd";
}
.el-icon-cross:before {
  content: "\ea0f";
}
.el-icon-checkmark:before {
  content: "\ea10";
}
.el-icon-loop2:before {
  content: "\ea2e";
}
.el-icon-arrow-up2:before {
  content: "\ea3a";
}
.el-icon-arrow-right2:before {
  content: "\ea3c";
}
.el-icon-arrow-left2:before {
  content: "\ea40";
}
.el-icon-mail2:before {
  content: "\ea84";
}
